{% set languageCode = content.versionInfo.contentInfo.mainLanguageCode %}

{% for contentTypeGroup in contentType.contentTypeGroups %}
    {% set contentTypeName = contentTypeGroup.name(languageCode) %}

    <section class="ez-fieldgroups ez-fieldgroup ez-fieldgroup">
        <h3 class="ez-fieldgroup-name"><a href="#" class="ez-collapse-toggle">{{ contentTypeName }}</a></h3>

        {% for fieldDefinition in contentType.fieldDefinitionsByFieldGroup(contentTypeName) %}
            <div class="ez-content-field">
                <p class="ez-content-field-name">{{ ez_field_name(content, fieldDefinition.identifier) }}:</p>
                <div class="ez-content-field-value">
                    {% if ez_is_field_empty(content, fieldDefinition.identifier) %}
                        <em>{{"fieldview.field.empty"|trans({}, "fieldview")}}</em>
                    {% else %}
                        {{ ez_render_field(content, fieldDefinition.identifier) }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endfor %}
